body{
    background-color: rgb(34, 32, 32);
    color:white;
    margin: 0;
}
.box{
    /* padding: 10px; */
    /* padding: 10px 10px 10px 10px; */
    /* padding: 10px 20px 10px; */
    /* padding: 10px 20px 30px; */
    padding: 10px 20px;
    /* border: 10px dotted white; */
    /* border: 10px dashed white; */
    /* border: 10px solid white; */
    border-top: 10px solid white;
    border-right: 10px solid black;
    border-bottom: 10px solid white;
    border-left: 10px solid black;
    box-sizing: border-box;
    margin: 10px;
    /* width: 200px; */
    /* height: 50px; */
    min-width: 200px;
    max-width: 500px;
    min-height: 100px;
    max-height: 150px;
}