body{
    background-color: rgb(34, 32, 32);
    color:white;
    margin: 0;
}
/* div{
    color:orange;
} */
div{
    padding: 10px;
}
#box{
    padding: 20px;
    color:orange;
}
#nested-box{
    /* padding: inherit; */
    /* padding: initial; */
    color:revert;
    padding: unset;
}
strong{
    /* font-weight: revert; */
    font-weight: initial;
    /* color:initial; */
    color:revert;
}